*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.container{
	background-color: lightgrey;
	overflow-y: auto;
	/*height: 400px;*/
	margin: 20px auto;
	width: 100%;
	padding: 20px;
}
.sidebar{
	background-color: yellow;
	width: 25%;
	float:left;
	height: 600px;
}
footer{
	background-color: blue;
	float: left;
	height: 290px;
	width: 70%;
	margin-top: 10px;
	margin-left: 5%;
}
article{
	background-color: red;
	float: left;
	height: 300px;
	margin-left: 5%; 
	width: 20%
}