body{
	font-family: "Arial"

}
#foto1{
	width: 300px;
	height: 300px;
	display: block;
	margin: auto;
	padding: 40px;
	background-color:blue;
	background-position: 50%;
	border-top: 15px solid green;
	border-bottom: 10px dashed orange;

}
#foto2{
	width: 300px;
	height: 300px;
	display: block;
	margin: auto;
	padding: 40px;
	background-color:blue;
	background-position: 50%;
	border-top: 15px solid green;
	border-bottom: 10px dashed orange;
}
.titulo{
	text-align: center;
	font-weight: bold
}
p.tit1{
	text-align: center;
	font-weight:bold;

}
p.nombre{
	margin-top: -20px;
}
p.contenido{
	margin-top: -5px;

}
div.tabla{
	background-color: grey;
}